// Variables

// Global
$mapWaterColor: #142a21;
$mapLandColor: #000;
$mapRoadColor: #3c7e61;
$mapRailRoadColor: #50a882;

// Navbar
$navbarMinHeight: 75px;

// Chevron hover animation
$chevronTranslateDeviancy: 5px;


// Mixins

// Mixin for repeated styles in ::before of desired content

@mixin customSlider($call){
  $width: 20px;
  $height: 15px;
  $sliderColor: $mapRoadColor;
  $thumbColor: #CCC; // #434343;
  $sliderRadius: .25rem;

  -webkit-appearance: none;

  @if $call == base {
    background-color: $sliderColor;
    border-radius: $sliderRadius;
    overflow: hidden;
  }

  @if $call == track {
    height: $height;
    margin-top: -1px;
    color: $sliderColor;
    border-radius: $sliderRadius;
  }

  @if $call == thumb {
    width: $width;
    height: $height;
    background: $thumbColor;
  }
}

@mixin desiredContent($left){
  position: absolute;
  left: $left;
  font-weight: 500;
}


// Selectors
// - Custom

body {
  height: 100vh;
  color: $mapRoadColor;
  /* Text shadow to create a text outline */
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  background-color: $mapWaterColor;
}

hr { background-color: $mapRoadColor; }


// Classes
// - Bootstrap

.container { background-color: $mapLandColor; }

.form-control {
  color: $mapLandColor;
  background-color: $mapRailRoadColor;
  border-color: $mapRoadColor;
}
.form-control:focus {
  color: $mapLandColor;
  background-color: $mapRailRoadColor;
  border-color: $mapRoadColor;
}
.form-control::-webkit-inner-spin-button { -webkit-appearance: none; }

.form-control-range { @include customSlider(base); }
.form-control-range::-webkit-slider-runnable-track { @include customSlider(track); }
.form-control-range::-webkit-slider-thumb { @include customSlider(thumb); }

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:active {
  color: $mapLandColor !important;
  background-color: $mapRoadColor !important;
}

.dropdown-menu {
  text-shadow: initial;
  background-color: $mapRoadColor;

  .dropdown-item { color: $mapLandColor; }
  .dropdown-item:hover { background-color: $mapRailRoadColor; }
}


// - Custom

.main-navbar {
  min-height: $navbarMinHeight;
  /* Override bootstrap container margins */
  margin-left: -15px;
  margin-right: -15px;
}
.main-navbar > .row { min-height: inherit; }

.nav-step {
  border-top: 0 solid transparent;
  border-bottom: 0 solid $mapRoadColor;
  cursor: pointer;
  transition: border-top-width .1s linear,
              border-bottom-width .1s linear;
}
.nav-step:hover {
  border-top-width: 5px;
  border-bottom-width: 5px;
}

.main-content {
  min-height: 575px;
  height: 55vh;
}

/* Left margins altered in these lists to account for ::before content in list items */
.location-info { list-style: none; }
.location-info li { margin-left: 2.5rem; }

.results-info { list-style: none; }
.results-info li { margin-left: 7rem; }

.fa-chevron-left,
.fa-chevron-right {
  color: inherit;
  transition: color .25s linear;
}

.logo-container {
  height:fit-content;
  font-family: Gugi, cursive;
}


// - JavaScript

.space-range-slider { width: 72%; }

.curr-step { background-color: $mapWaterColor; }

.form-results {
  top: 5px;
  left: 5px;
  width: 105%;
}

/* Keyframes for chevron CSS animation */
@keyframes chevronHoverLeft {
  0%    { transform: translateX(0px); }
  50%   { transform: translateX((-$chevronTranslateDeviancy)); }
  100%  { transform: translateX(0px); }
}

@keyframes chevronHoverRight {
  0%    { transform: translateX(0px); }
  50%   { transform: translateX($chevronTranslateDeviancy); }
  100%  { transform: translateX(0px); }
}


.arrow-r1,
.arrow-l2,
.arrow-r2,
.arrow-l3 { cursor: pointer; }

.arrow-l2:hover > .fa-chevron-left,
.arrow-l3:hover > .fa-chevron-left {
  color: $mapRailRoadColor;
  animation: chevronHoverLeft 2.5s ease-in-out infinite;
}

.arrow-r1:hover > .fa-chevron-right,
.arrow-r2:hover > .fa-chevron-right {
  color: $mapRailRoadColor;
  animation: chevronHoverRight 2.5s ease-in-out infinite;
}

/* Using ::before to name list items, avoids having to position elements in HTML */
.desired-address::before {
  @include desiredContent(-80px);
  content: "Address:";
}

.desired-phone-num::before {
  @include desiredContent(-80px);
  content: "Ph#:";
}

.desired-space::before {
  @include desiredContent(-152px);
  content: "How many people:";
}

.desired-days::before {
  @include desiredContent(-152px);
  content: "Length of stay:"
}

.desired-cost::before {
  @include desiredContent(-152px);
  content: "Cost:";
}


// - Mapbox

.marker {
  height: 50px;
  width: 34px;
  background-image: url("../img/marker_accomodation.svg");
  background-color: rgba(0,0,0,0);
  border: none;
  cursor: pointer;
}

.mapboxgl-popup {
  padding-bottom: 50px;
  color: initial;
  text-shadow: initial;

  // .mapboxgl-popup-tip { border-color: $mapLandColor; }
}

.mapboxgl-popup-content {
  // color: $mapRoadColor;
  // background-color: $mapLandColor;
}

.mapboxgl-popup-close-button { color: inherit; }

/* Weird percentage to account for slight difference in width, unknown reason for difference */
.mapboxgl-map { width: 99.95%; }

.mapboxgl-ctrl-bottom-right {
  color: inherit;
  text-shadow: initial;
}


// - Date Range Picker

.daterangepicker {
  color: $mapRailRoadColor;
  text-shadow: initial;
  background-color: $mapLandColor;
  border-color: $mapWaterColor;

  .calendar-table {
    background-color: inherit;
    border-color: transparent;

    th.available {
      background-color: $mapRoadColor;

      span { border-color: $mapLandColor; }
    }

    td.off {
      color: $mapRoadColor;
      background-color: transparent;
    }
  }

  .drp-buttons { border-color: inherit; }
}
