// Variables

$primaryColor:#ffa500;

// Bootstrap selectors

.container {
	background-color:$primaryColor;
}

.row {}

.no-gutters {}

.col-sm {}

// Custom selectors

* {}

html {}

body {
	background-color:black;
}

#main-navbar {
	// Cancel .container padding
	margin-left:-15px;
	margin-right:-15px;
}

@media (min-width:576px){}

@media (min-width:768px){}

@media (min-width:992px){}

@media (min-width:1200px){}
