meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible" content="IE=Edge")
meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")

title
  | App

// Favicon request prevention
link(rel="icon", href="data:;base64,iVBORw0KGgo=")

// Google Fonts
link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Gugi")

// Bootstrap
link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css")

// FontAwesome
link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.0.13/css/all.css", integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp", crossorigin="anonymous")

// mapbox
link(rel="stylesheet", href="https://api.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.css")

// Date Range Picker
link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css")

// Custom CSS
link(rel="stylesheet", href="css/master.css")
