div(class="main-navbar")
	div(class="row no-gutters")
		div(class="position-absolute currStep")
		div(class="col-sm")
			div(class="d-flex h-100 align-items-center justify-content-center")
				h2
					| Step 1

		div(class="col-sm")
			div(class="d-flex h-100 align-items-center justify-content-center")
				h2
					| Step 2

		div(class="col-sm")
			div(class="d-flex h-100 align-items-center justify-content-center")
				h2
					| Step 3
