div(class="main-content py-3 step-0")
  div(class="container h-100 content-container mx-auto px-0")
    div(class="mx-auto mt-5 h1 logo-container")
      | AccoStay
    
    div(class="w-75 mx-auto intro-container")
      p
        | AccoStay is a web application from Tourism New Zealand, the goal of which is to help you find the right accomodation.
        
      p
        | Simply enter the details into the form in step 1, select from a number of accomodations in step 2, then confirm the details in step 3.
        
      p
        | Feel free at any time to go back a step and change your details, or select a different accomodation.
        
      button(class="btn btn-primary d-block mx-auto get-started")
        | Get Started
