div(class="main-content py-3 step-3")
	div(class="container h-100 border border-dark content-container")
		div(class="row h-100")
			div(class="col-2")
				div(class="d-flex w-100 h-100 justify-content-center align-items-center")
					i(class="fas fa-chevron-left fa-5x")

			div(class="col")
				div(class="d-flex w-100 h-100 justify-content-center align-items-center")
					div
						h2(class="desiredLocation")
							| Name
						ul(class="locationInfo")
							li(class="position-relative desiredAddress")
								| Lorem ipsum dolor sit amet.
							
							li(class="position-relative desiredPhoneNum")
								| (00) 000-0000
							
						hr
							
						ul(class="resultsInfo")
							li(class="position-relative desiredSpace")
								| 0
							
							li(class="position-relative desiredDays")
								| 0
							
							li(class="position-relative desiredCost")
								| $0 / Night
								
						button(type="submit" class="btn btn-primary float-right finalConfirm")
							| Confirm

			div(class="col-2")
