div(class="main-content py-3 step-0")
  div(class="container h-100 content-container row mx-auto px-0")
    div(class="mx-auto mt-4 h1 logo-container")
      | AccoStay
      
    div(class="intro-container")
